vendor/
vendor/ezyang/htmlpurifier/library/HTMLPurifier/ConfigSchema/schema/URI.AllowedSchemes.txt
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/_metadata.json
node_modules/
storage
storage/logs/laravel.log
storage/framework/views*
vendor/*
vendor
node_modules
vendor/composer/autoload_classmap.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_classmap.php
vendor/*
vendor/composer/autoload_classmap.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
public/build/manifest.json
public/build/manifest.json
public/build*
.env
.env
.env
public/build/manifest.json
public/hot
public/build/manifest.json
public/storage*
/public/storage
public/build/manifest.json
public/build/manifest.json
/public/build*
public/build*
public/build/manifest.json

composer.lock
package-lock.json
bootstrap/cache/packages.php
bootstrap/cache/services.php

.history
bootstrap/cache/*
