/**=====================
      Modal CSS Start
==========================**/
.modal {
    z-index: 13;
    padding-left: 0 !important;

    .modal-content {
        border-radius: 12px;
        border: none;
        border-top: 6px solid var(--primary-color);

        .modal-header {
            h5 {
                font-size: 20px;
                margin-bottom: 0;
                text-transform: capitalize;
                font-weight: 600;
                line-height: 25px;
                color: $dark-color;
            }

            .btn-close {
                background: unset;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                img,
                svg {
                    width: 16px;
                    height: 16px;
                    color: $dark-color;
                }
            }
        }

        .modal-body {
            padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
            padding-bottom: 12px;

            .main-img {
                background-color: rgba($input-bg, 0.4);
                width: calc(58px + (80 - 58) * ((100vw - 320px) / (1920 - 320)));
                height: calc(58px + (80 - 58) * ((100vw - 320px) / (1920 - 320)));
                border-radius: 100%;
                margin: 0 auto;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    --Iconsax-Size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
                    --Iconsax-Color: #00162E;
                    background-color: rgba($input-bg, 0.4);
                }

                img,
                svg {
                    width: calc(31px + (39 - 31) * ((100vw - 320px) / (1920 - 320)));
                    height: auto;
                    color: rgba($dark-color, 0.75);
                }
            }

            .text-center {
                margin: 0 calc(0px + (40 - 0) * ((100vw - 320px) / (1920 - 320)));
            }

            .modal-title {
                font-weight: 500;
                color: rgba($dark-color, 0.88);
                font-size: calc(17px + (23 - 17) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: 7px;
                line-height: 1.4;
            }

            p {
                font-size: 14px;
                color: $tab-border;
                white-space: normal;
                line-height: 1.5;
            }

            &.export-data {
                .form-group {
                    margin-top: 10px;
                }

                .d-flex {
                    margin-top: 30px;
                    flex-wrap: nowrap;

                    .btn {
                        width: 100%;
                        justify-content: center;
                        border-radius: 10px;

                        &:first-child {
                            background-color: unset !important;
                            color: var(--primary-color) !important;
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding-top: calc(6px + (16 - 6) * ((100vw - 320px) / (1920 - 320)));
        }
    }

    &.wallet-modal {
        .modal-content {
            .modal-body {
                padding: 1rem;


                .col-md-2 {
                    width: 100%;
                }

                .col-md-10 {
                    width: 100%;
                }

                .form-group {
                    margin-bottom: 0;
                }

                .wallet {
                    h5 {
                        font-size: 16px;
                        margin: 0;
                        color: rgba($dark-color, 0.8);
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1;
                        color: $dark-color;
                    }
                }

                .wallet-icon {
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    background-color: unset;
                    color: var(--primary-color);
                }
            }

            .modal-footer {
                .btn {
                    margin: 0;
                    width: 100%;
                    padding: 0.75rem;
                    justify-content: center;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }

    .submit-form {
        display: flex;
        align-items: center;
        justify-content: end;
        width: max-content;
        margin-left: auto;
        margin-top: 24px;

        input {
            background: $transparent-color;
            border: none;
            box-shadow: none;
            color: $white;
        }
    }

    &.withdrow-modal {
        .modal-body {
            padding: 1rem;

            .form-group {
                .col-md-10 {
                    width: 100%;
                }
            }

            textarea {
                &.form-control {
                    min-height: 80px;
                }
            }

            .modal-message {
                color: $dark-color;
                opacity: 0.8;
            }
        }

        .modal-footer {
            justify-content: center;

            .submit-form {
                margin: 0;
                width: 100%;
                justify-content: center;
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                padding: 0.75rem;

                input {
                    line-height: 1.25;
                }
            }
        }
    }

    &.export-data-modal {
        .modal-body {
            padding: 15px;

            .main-img {
                img {
                    width: 30px;
                }
            }

            .form-group {
                margin-bottom: 18px;

                .form-select {
                    box-shadow: none;
                    border-color: var(--bs-border-color);
                }
            }

            .modal-footer {
                padding: 0;
                border-top: 1px solid #eee;
                padding-top: 18px;

                .btn {
                    width: 100%;

                    &.btn-outline-primary {
                        &:hover {
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }

    &.import-modal {
        --bs-modal-width: 600px;

        .modal-content {
            .modal-body {
                .form-group {
                    .drop-area {
                        border: calc(1px + (2 - 1) * ((100vw - 320px) / (1920 - 320))) dashed #ccc;
                        padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
                        text-align: center;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 4px;

                        svg {
                            width: 50px;
                            height: auto;
                            color: #777;
                            stroke-width: 1.2px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 500;
                            color: #777;
                        }

                        p {
                            color: #555;
                            margin-bottom: 0;

                            &:empty {
                                display: none;
                            }
                        }
                    }
                }

                &.upload-report {
                    padding: calc(15px + (24 - 15) * ((100vw - 320px) / (1920 - 320)));

                    .upload-title {
                        display: flex;
                        align-items: self-start;
                        justify-content: space-between;

                        .d-flex {
                            width: 100%;
                            gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));

                            .import-icon {
                                border: 1px solid #eeeeee;
                                width: calc(46px + (55 - 46) * ((100vw - 320px) / (1920 - 320)));
                                height: calc(46px + (55 - 46) * ((100vw - 320px) / (1920 - 320)));
                                border-radius: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    width: 30px;
                                    filter: invert(13%) sepia(3%) saturate(2847%) hue-rotate(173deg) brightness(96%) contrast(86%);
                                    height: 30px;
                                    stroke-width: 1.5;
                                }

                                svg {
                                    width: calc(21px + (30 - 21) * ((100vw - 320px) / (1920 - 320)));
                                    stroke: #292D32;
                                    height: auto;
                                    stroke-width: 1.5;
                                    fill: transparent;
                                }

                                i {
                                    position: unset;
                                    font-size: 28px;
                                }
                            }

                            .upload-file {
                                width: calc(100% - calc(46px + (55 - 46) * ((100vw - 320px) / (1920 - 320))) - 15px);

                                h4 {
                                    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                                    font-weight: 600;
                                }

                                label {
                                    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                                    font-weight: 500;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .btn-close {
                            font-size: 14px;
                            color: #7A8591;
                            background-image: none;
                            width: auto;
                            height: auto;
                            padding: 0;
                            line-height: 1;
                            position: absolute;
                            right: 0;
                            top: 0;

                            i {
                                position: relative;
                                inset: unset;
                                font-size: 22px;
                            }
                        }
                    }

                    .common-content {
                        margin-bottom: 0;
                        margin-top: 5px;
                        color: $dark-color;
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                    }

                    .import-tab {
                        margin-top: 20px;

                        .horizontal-tab {
                            border-bottom: unset;
                            gap: 20px;
                            margin-bottom: unset;
                            padding-bottom: unset;

                            li {
                                .nav-link {
                                    padding: 0;
                                    padding-bottom: 5px;
                                    border: none;
                                    border-bottom: 1px solid transparent;
                                    border-radius: 0;
                                    font-size: 15px;
                                    font-weight: 400;
                                    background-color: transparent;

                                    &.active{
                                        background-color: transparent;
                                        color: var(--primary-color);
                                        border-color: var(--primary-color);
                                    }
                                }
                            }
                        }

                        ~.tab-content {
                            .tab-pane {
                                .form-group {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }

                    .file-upload-box {
                        .form-group {
                            margin-bottom: 0 !important;
                        }

                        &.active {
                            .form-group {
                                .drop-area {
                                    border-color: $primary-color;

                                    img {
                                        transform: scale(1.05);
                                        transition: all 0.4s ease;
                                    }
                                }
                            }
                        }

                        p {
                            margin-bottom: 24px;
                        }

                        .drop-area {
                            img {
                                width: calc(140px + (185 - 140) * ((100vw - 320px) / (1920 - 320)));
                                transition: all 0.4s ease;
                            }

                            h5 {
                                font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                                font-weight: 600;
                                letter-spacing: unset;
                                margin-top: 10px;
                                margin-bottom: unset;
                            }

                            span {
                                font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                                font-weight: 400;
                            }

                            .btn {
                                background-color: transparent !important;
                                color: $dark-color;
                                border: 1px solid #ccc;
                                border-radius: 8px;
                                padding: 8px 14px;
                                margin-top: 20px;
                            }

                            .import-link {
                                display: flex;
                                align-items: center;
                                margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                                width: 100%;
                                gap: 10px;

                                input {
                                    padding: 8px 14px;
                                    border: 1px solid #ccc;
                                    border-radius: 8px;
                                }

                                .btn {
                                    margin-top: 0;
                                    padding: 6px 14px;

                                    i {
                                        padding-top: 1px;
                                        color: $dark-color;
                                    }
                                }
                            }
                        }
                    }

                    ul {
                        &.file-list {
                            list-style: none;
                            width: 100%;
                            max-height: 400px;
                            overflow-y: auto;
                            padding-right: 5px;

                            .file-item {
                                padding: 12px;
                                display: flex;
                                align-items: center;
                                gap: 14px;
                                background: #F3F3F3;
                                border-radius: 8px;
                                margin-top: 15px;

                                +.file-item {
                                    display: none;
                                }

                                .file-extension {
                                    width: 45px;
                                    height: 55px;
                                    background-image: url(../../public/images/pdf.svg);
                                    background-size: cover;
                                    overflow: hidden;
                                    color: $white;
                                    font-weight: 600;
                                    display: flex;
                                    align-items: end;
                                    justify-content: center;
                                    border-radius: 5px;
                                    padding: 6px;
                                }

                                .file-content-wrapper {
                                    flex: 1;
                                    margin-top: 12px;
                                }

                                .file-content {
                                    .file-details {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        gap: 20px;
                                    }
                                }

                                .file-name {
                                    font-size: 16px;
                                    margin-bottom: 0;
                                    font-weight: 600;
                                    width: 32%;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    display: -webkit-box !important;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    white-space: normal;
                                }

                                .file-info {
                                    display: flex;
                                    gap: 5px;
                                    padding-right: 25px;

                                    small {
                                        color: $grey;
                                        margin-top: 3px;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: -webkit-box !important;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        white-space: normal;
                                    }

                                    .file-status {
                                        color: var(--primary-color);
                                    }
                                }

                                .file-progress-bar {
                                    width: 95%;
                                    height: 4px;
                                    margin-top: 10px;
                                    border-radius: 30px;
                                    background: #d9d9d9;
                                    position: relative;

                                    .file-progress {
                                        width: 0%;
                                        height: inherit;
                                        border-radius: inherit;
                                        background: var(--primary-color);
                                        transition: all 0.6s ease-in-out;
                                    }

                                    .cancel-button {
                                        padding: 0;
                                        padding: 0;
                                        color: $grey;
                                        font-size: 18px;
                                        border: unset;
                                        position: absolute;
                                        right: -35px;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }
                        }
                    }

                    ~.modal-footer {
                        padding: calc(15px + (24 - 15) * ((100vw - 320px) / (1920 - 320)));
                        justify-content: space-between;

                        .btn {
                            background-color: transparent;
                            color: $dark-color;
                            border: 1px solid #ccc;
                            border-radius: 8px;
                            padding: 8px 14px;

                            &:nth-child(2) {
                                border-color:var(--primary-color);
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }

            .modal-footer {
                padding: 15px;
            }
        }
    }
}

.modal-header {
    padding: 1rem;
}

.modal-footer {
    padding: 1rem;
    border: none;
    gap: 12px;
    flex-wrap: nowrap;

    .btn {
        margin: 0 !important;
    }

    &.category-footer {
        .btn {
            margin: 0;
        }

        input {
            background-color: $transparent-color;
            border: none;
            color: $white;
            font-size: 16px;

            &.confirm {
                background-color: var(--primary-color);
            }
        }
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0;
    }

    .cancel {
        width: 100%;
        background-color: rgba($dark-color, 0.04);
        border: none;
        border-radius: 6px;
        padding: 0.75rem;
        color: rgba($dark-color, 0.8);
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

        &:active {
            background-color: rgba($dark-color, 0.04);
            color: rgba($dark-color, 0.8);
        }
    }

    .delete,
    .confirm {
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 0.75rem;
        color: $white;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    }

    .rejected,
    .accepted {}

}

.service-man {
    .modal-body {
        padding: 20px !important;
    }

    .service-man-detail {
        .form-group {
            .col-md-2 {
                width: 100%;
            }

            .col-md-10 {
                width: 100%;
            }
        }
    }

    .assign-btn {
        background-color: var(--primary-color);
        color: $white;
        padding: 10px 18px;
        border-radius: 8px;
    }
}

.modal-backdrop {
    z-index: 12;
}

/**=====================
      Modal CSS End
==========================**/
